<h1>New Recipe</h1>

<form action='/recipes' method='POST'>
    <p>
        <label for='title'>Title</label>
        <input type='text' name='title'>
    </p>
    <input type='submit' value='create'>
</form>