<h1>New Recipe</h1>

<form action='/recipes' method='POST'>
    <p>
        <label for='title'>Your Munchy Name</label>
        <input type='text' name='title'>
    </p>
    <p>
        <label for='description'>Describe Your Munch-Munch</label>
        <input type='text' name='title'>
    </p>
    <p>
        <label for='instructions'>How Do We Make your Munchy?</label>
        <input type='text' name='title'>
    </p>
    <p>
        <label for='ingredients'>Necessary Munch-Maker Ingredients</label>
        <input type='text' name='title'>
    </p>
    <input type='submit' value='Add Your Munchy'>
</form>